<!-- === futbol_de_europa.html === -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fútbol de Europa</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <header>
    <h1>Fútbol de Europa</h1>
  </header>
  <nav>
    <ul>
      <li><a href="index.html">Inicio</a></li>
      <li><a href="futbol_premier_leuge.html">Premier League</a></li>
      <li><a href="la_liga.html">La Liga</a></li>
      <li><a href="futbol_de_europa.html">Fútbol de Europa</a></li>
    </ul>
  </nav>
  <main>
    <h2>Noticias de la Champions y más</h2>
    <article>
      <center><h3>Mbappé brilla en Champions</h3></center>
      <center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0FVo9k9pCyE1pJwCRqjV0OyNh_C4I3iIdrA&s" alt="PSG Logo"></center>
      <p>Mbappé anotó un hat-trick contra el Bayern. ¡Es una estrella en ascenso!</p>
      <p><strong>Dato curioso:</strong> Tiene más goles en Champions que muchos veteranos.</p>
    </article>
    <article>
      <ceneter><h3>Napoli lidera en Italia</h3></center>
      <center><img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AA1FsBsh.img?w=768&h=512&m=6&x=598&y=572&s=204&d=184" alt="Escudo Napoli"></center>
      <p>Napoli lidera la Serie A con goles de Osimhen. ¡Un fútbol alegre y ofensivo!</p>
    </article>
  </main>
</body>
</html>
