<!-- === index.html === -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fútbol Total</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <header>
    <h1>Fútbol Total</h1>
  </header>
  <nav>
    <ul>
      <li><a href="index.html">Inicio</a></li>
      <li><a href="futbol_premier_leuge.html">Premier League</a></li>
      <li><a href="la_liga.html">La Liga</a></li>
      <li><a href="futbol_de_europa.html">Fútbol de Europa</a></li>
    </ul>
  </nav>
  <main>
    <center><h2>Bienvenido a tu página favorita de fútbol</h2></center>
    <p>Aquí encontrarás noticias, curiosidades y resultados de tus ligas favoritas: Premier League, La Liga, Champions League y más.</p>
    <p>El fútbol moderno, como lo conocemos, tiene sus raíces en Gran Bretaña, especialmente en Inglaterra, en el siglo XIX. Sin embargo, juegos de pelota similares se practicaban en diversas culturas antiguas, como en Egipto y China. La Football Association (FA) en Inglaterra estableció las primeras reglas oficiales en 1863, separando el fútbol del rugby. La FIFA, la Federación Internacional de Fútbol Asociación, se fundó en 1904.</p>
    <center><img src="https://hips.hearstapps.com/hmg-prod/images/mejores-partidos-portada-1623694105.jpg?crop=0.75xw:1xh;center,top&resize=1200:*"></center>
  </main>
</body>
</html>