<!-- === la_liga.html === -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>La Liga</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <header>
    <h1>La Liga</h1>
  </header>
  <nav>
    <ul>
      <li><a href="index.html">Inicio</a></li>
      <li><a href="futbol_premier_leuge.html">Premier League</a></li>
      <li><a href="la_liga.html">La Liga</a></li>
      <li><a href="futbol_de_europa.html">Fútbol de Europa</a></li>
    </ul>
  </nav>
  <main>
    <h2>Artículos destacados</h2>
    <article>
      <center><h3>Real Madrid gana el Clásico</h3></center>
      <center><img src="https://upload.wikimedia.org/wikipedia/en/5/56/Real_Madrid_CF.svg" alt="Escudo Real Madrid"></center>
      <p>El Real Madrid venció al Barcelona 2-1. Vinicius y Bellingham marcaron. ¡Un partido emocionante!</p>
      <p><strong>Dato curioso:</strong> El Clásico es visto por 600 millones de personas.</p>
    </article>
    <article>
      <center><h3>Girona sorprende a todos</h3></center>
      <center><img src="https://img.asmedia.epimg.net/resizer/v2/S6PWI6PITJILZELUAZ5RN5BSYA.jpg?auth=19b9844a220c4e4720bb09bc86293b1d9e188bee46b8575bc786b8930e621048&width=1200&height=1200&smart=true" alt="Escudo Girona"></center>
      <p>Girona ha derrotado al Atlético y al Sevilla. ¡Una temporada increíble!</p>
    </article>
  </main>
</body>
</html>
